#tree_container .checkbox, 
#tree_container .title,
#tree_container .opener {
  display:inline-block !important;
  display:inline;
  zoom:1;
  vertical-align:middle;
}



#tree_container {
  font-size:13px;
  width:500px;
  margin:200px auto;
  padding:10px 20px 10px 30px;
  background:#fff;
}

#tree_container .title {
  font-size:13px;
  height:20px;
  line-height:20px;
  zoom:1;
  margin:0;
  padding:0 0 0 20px;
}

#tree_container .node .title {
  background:url('../images/icons/file.gif') 6px 1px no-repeat;
  font-size:inherit;
  margin-left:2px;
  padding-left:22px;
  font-weight:inherit;
  text-transform:inherit;
}


#tree_container .folder .title {
  background:url('../images/icons/folder.gif') left no-repeat;
  margin-left:0;
  padding-left:20px;
}

#tree_container .checkbox {
  width:20px;
  margin:0 0 0 -18px;
}

#tree_container .node .roost {
  padding:0 0 0 19px;
}

#tree_container .node .opener {
  width:15px; 
  height:20px;
  text-align:center;
}

#tree_container .node .opener {
  text-indent:-2000px;
  margin:0 -18px 0 0;
  width:23px;
  z-index:25;
  position:relative;
  background:url('../images/icons/open.gif') no-repeat;
}

#tree_container .closed .opener {
  background:url('../images/icons/closed.gif') no-repeat;
}

ul.tooltip {
  border:1px solid #ccc;
  background:#efefef;
  margin-bottom:-70px;
}

ul.tooltip li {
  border-bottom:1px solid-bottom #aaa;
  padding:1px 2px;
  cursor:pointer;
}